body > * {
  font-weight: 400;
}

.App {
  text-align: center;
  width: 100vw;
}

table {
  table-layout: fixed;
  width: 100vw;
  border-spacing: 0;
  font-weight: 400;
  color: black;
  text-align: left;
  font-size: 0.9rem;
  margin: 1rem auto;
}

.tableHeader > * {
  font-variant: small-caps;
  
  padding: .5rem;
  margin: .5rem;
  width: 5rem;
  height: 4rem;
  font-weight: bold;
  color: rgb(88, 88, 88);
  background-color: #ebebeb;
}

tr th {
  color: black;
  font-weight: 300;
  margin: 1rem 0 1rem 0;
  padding: .5rem;
  height: 2rem;
  width: 5rem;
}

tr:hover {
  background-color: rgb(243, 243, 243);
  cursor: unset;
}

.boolean {
  text-align: center;
  width: 2rem;
}

button {
  display: inline-flex;
	align-items: center; 
	cursor: pointer;
	width: 90px;
	height: 26px;
	background-color: white;
	border-color: black;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	padding: auto .75rem;
	margin: 1rem;
	font-size: 1rem;
	line-height: 1rem;
	border-radius: 0.375rem;
	text-decoration: none;
}